.NavigationItem{
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.NavigationItem>a{
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
}


.NavigationItem img {
    min-width: 26px;
    height:14px;
    margin-left:15px;
}


.ListWrapper{
    display: flex;
    flex-direction: column;

}