.LeftNav{
    background-color: white;
    width:30vw;
    display: flex;
    flex-direction: column;
    padding: 0% 3%;
}


.LeftNav .Logo {
    color:rgb(11, 41, 70);
    height: 10%;
    padding-left: 30%;
    padding-top: 5%;
    font-weight: bold;
}

.Head{
    height: 15%;
    display: flex;
    flex-direction: column;
}

.Heading{
    color: #969696;
    position: relative;
    padding-bottom: 3.5%;
}

.Heading::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 15%;
    height: 1px;
    background-color:#9696968e;
}

.Button{
    width:40px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(102, 18, 18);
    color: black;
    margin-bottom:6%;
    cursor: pointer;
}

.List ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.List {
    margin-top:7%;
}


.NavigationItem>a {
    color: #181818;
}

.NavigationItem img{
    display: none;
}