.Home {
    text-align: center;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
}



.vid{
    height:100vh;
    min-width:100vw;
    z-index: -1;
    position: fixed;
    top:0;
    left:0;
    object-fit: cover;
}
