

.RightNav{
    background-color: rgb(46, 45, 45);
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.RightNav::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(239deg, rgba(1, 1, 1, 0.493) 25%, rgba(0,0,0,0.8435749299719888) 69%);
}

.NavigationItem a {
    color: white;
    font-size: 18px !important;
}

li.NavigationItem:hover a{
    color: white !important;
}

.List {
    margin-top: 20%;
    margin-left: 4%;
    position:relative;
    z-index:1;    
}

.List ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width:40%;
}


.List ul:hover a{
    color:#969696;
}
