.Toolbar{
    height: 64px;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 20px;
    box-sizing: border-box; */
    z-index: 90;
    /* position: fixed; */
    /* opacity: 0.8; */
    /* backdrop-filter:blur(2px); */
    /* background-color: #042343ff; */
}

.Toolbar {
    display: flex;
    justify-content: space-around;
}

.Toolbar h1 {
  margin: 0% 4% 0% 2%;
  width: 15%;
}


.Toolbar nav{
    /* position: absolute;  */
    z-index: 9999;
    height: 100%;
    width: 50%;

}

.logo{
    height: 100%;
    width:80%;
    /* margin-right: 10%; */
}

.Logo h1 {
  margin: 0;
  padding: 0;
  margin-right: 0;
}
