@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");

.Home {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding-bottom: 40px;
}
.CardBox {
  display: flex;
  height: 260px;
  /* width:200px; */
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.IconMainContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Video {
  height: 100vh;
  min-width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  box-shadow: 0px 12px 20px 1px rgba(0, 0, 0, 0.74);
}

.LocBar {
  width: 200px;
  border-radius: 20px;
  /* border-top-right-radius: 20px; */
  background-color: white;

  /* background-color: rgba(243, 243, 243, 0.802); */
  border-bottom: 2px solid rgba(0, 77, 255, 1);

  box-shadow: 0px 13px 43px -6px rgba(0, 76, 255, 0.714);
}
.SearchBar {
  box-shadow: 0px 13px 43px -6px rgba(0, 76, 255, 0.714);
  border-bottom: 2px solid rgba(0, 77, 255, 1);
  width: 500px;
  border-radius: 20px;
  background-color: whitesmoke;

  /* border-top-right-radius: 20px; */
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items:center; */
  /* margin:auto; */
  /* z-index:10; */
}
.SearchBar {
  box-shadow: 0px 13px 43px -6px rgba(0, 77, 255, 1);
  border-bottom: 2px solid rgba(0, 77, 255, 1);
  width: 500px;
  border-radius: 20px;
  background-color: rgba(243, 243, 243, 0.802);

  /* border-top-right-radius: 20px; */
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items:center; */
  /* margin:auto; */
  /* z-index:10; */
}
.SerachBarContainer {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.Lowersection {
  margin-top: 40px;
}

.searchField {
  outline: none !important;
  border: none !important;
  /* border-radius:20px; */
}
.MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.searchField:focus {
  /* border-radius:20px; */
  border: none !important;
  outline: none !important;
}

/* Blog section */
.mainBlogBox {
  margin-top: 70px;
  width: 100%;
  height: 400px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  gap: 70px;
  /* border-radius: 10px; */
  /* background-color:black ; */
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.left {
  text-align: left;
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: left;
  font-family: Lugrasimo;
}
.button {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.blogLeft {
  max-width: 500px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.reviewH1 {
  margin-top: 100px;
  font-family: Lugrasimo;
}
.blogLeft h1 {
  font-family: Lugrasimo;
}
.blogLeft p {
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
}
.reviewBox:hover {
  border: 2px solid gray;

  transform: scale(1.01);
  cursor: pointer;
}
.reviewBox h1 {
  margin-top: 4px;
  margin-bottom: 3px;
}
.reviewBox p {
  font-family: Arial, Helvetica, sans-serif;

  color: gray;
}

.BottomReview {
  background-color: #99edc3;
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-end;
  height: 50px;
}
.BottomReview p {
  color: black;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 700;
}
.reviewBox {
  margin-bottom: 50px;
  padding-left: 10px;
  flex-shrink: 0;
  padding-right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 10px;
  border-radius: 10px;
  height: 340px;
  width: 310px;
  border: 2px solid gray;
  background-color: white;
  box-shadow: 10px 9px 20px -1px rgba(0, 0, 0, 0.75);
}
.Lowersection > h1 {
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: left;
  font-family: Lugrasimo;
}
.head {
  font-family: Lugrasimo;
  margin-top: 20px;
}
.Title {
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  font-family: Lugrasimo;
  margin-top: 200px;
}
.Title1 {
  position: absolute;
  color: white;
  font-family: "Crimson Text";
  margin-top: 300px;
}
