.bg{
    background-color: aliceblue;
    width:100%;
    height:100%;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:30px;
    padding:70px 10px;
}

.infoBox{
    height:300px;
    width:100%;
    border-radius: 10px;
    background-color: white;
}
.Pic{
    background-color: aqua;
    position: absolute;
    height:160px;
    width:160px;
    border:6px solid white;
    margin-left:60px;
    margin-top:17px;
    border-radius: 999px;
}
.info{
    margin-top: 10px;
    margin-left:260px;
    display:flex;
    flex-direction: column;
    gap:20px
}
.info h6{
    font-weight: normal;
    color:rgb(24, 24, 24);
    font-size: 22px;
}
.infoBg{
    height:100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #325f8b;
    background-image:  url(//img.wbmdstatic.com/webmd_static_vue/091e9c5e81bf2122/img/bg-profile@2x.ae59762c.jpg) ;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding-left: 260px;
    /* justify-content: center; */
    align-items: center;
}
.infoBg h1{
    color:white;
    border-right:2px solid gray;
    padding:10px;
    font-size:35px;
    font-weight: 700;
    margin:0px;
}    
.bookingBox{
    border-left: 4px solid #325f8b;
    border-radius: 12px;
    width:97%;
    padding:30px 20px;
    background-color: white;
}
.IconBox{
    display:flex;
    align-items: center;
    gap:4px;
}
.selectLoc{
    color:#325f8b;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-bottom:80px;
}
.LocBoxContainer{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin-top: 20px;
}
.TimeBoxContainer{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    width:80%;
    margin-top: 20px;
}

.TimeBox{
    flex-shrink: 0;
    width:110px;
    color:#325f8b;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:16px;
    gap:4px;
    border-radius: 12px;
    border:1px solid #325f8b;
    box-shadow: 10px 11px 24px -15px rgba(0,0,0,0.58);
}
.SelectedTimeBox{
    flex-shrink: 0;
    width:110px;
    color:white;
    padding:10px;
    background-color: #325f8b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:16px;
    gap:4px;
    border-radius: 12px;
    border:1px solid #325f8b;
    box-shadow: 10px 11px 24px -15px rgba(0,0,0,0.58);
}
.DateBox{
    flex-shrink: 0;
    width:110px;
    color:#325f8b;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:16px;
    gap:4px;
    border-radius: 12px;
    border:1px solid #325f8b;
    box-shadow: 10px 11px 24px -15px rgba(0,0,0,0.58);
}
.SelectedDateBox{
    flex-shrink: 0;
    width:110px;
    color:white;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #325f8b;
    font-size:16px;
    gap:4px;
    border-radius: 12px;
    border:1px solid #325f8b;
    box-shadow: 10px 11px 24px -15px rgba(0,0,0,0.58);
}
.LocBox{
    width:260px;
    flex-shrink: 0;
    color:rgb(24, 24, 24);
    padding:18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
    border-radius: 12px;
    border:1px solid slategray;
    box-shadow: 10px 10px 20px -12px rgba(0,0,0,0.75);
}


.SelectedLocBox,.SelectedDateBox,.DateBox,.SelectedTimeBox,.TimeBox,.LocBox:hover{
    cursor: pointer;
}
.SelectedLocBox{
    font-size:16px;
    flex-shrink: 0;
    box-shadow: 10px 10px 20px -12px rgba(0,0,0,0.75);
    width:260px;
    text-decoration: underline;
    padding:18px;
    display: flex;
    background-color:aliceblue;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border:1px solid slategray;
}
.LocBox p{
    font-weight: 100px;
}
.ScrollDateBox{
    grid-area: lcs;
    margin-top: 20px;
    display: flex;
    gap:40px;
    margin-bottom: 0px;
    padding-bottom:13px;
    overflow:auto; 

}

.ScrollDateBox::-webkit-scrollbar{
    background-color: transparent;
    width: 6px; 
    height: 6px; 

}

.ScrollDateBox::-webkit-scrollbar-track{
    background-color: transparent;

}
.ScrollDateBox::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 6px;
    width: 6px; 
}

.ScrollLocBox::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}

.btn{
    display: flex;
    width: 100%;
    justify-content: center;
}
